body {
	/* font-family: 'Century Gothic','CenturyGothic','AppleGothic','sans-serif';  */
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(117, 133, 228, 0.8), rgb(89,152,232, 0.8));
    opacity: 60%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin: 10px 0px ;
    font-weight: 700;
}

hr {
    clear: both;
    visibility: hidden;
}

input {
    width: 30vw;
    height: 3em;
    border: 1px solid #1AA0D8;
    border-radius: 6px;
    font-size: 1em;
    padding: 0 15px;
    float: left;
}

input:active {
    outline: none;
    border: none;
}
input:focus {
    outline:0;
    box-shadow: 0px 0px 50px -14px rgba(26,160,216,1);

}

button {
    background-color: #1AA0D8;
    padding: 12px 30px;
    border-radius: 6px;
    color: white;
    margin-left: -1px;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

button:active {
    outline: none;
    border: none;
    background-color: rgb(26,160,216, 0.8)
}
    
button:focus {outline:0;}

button:disabled {
    background-color: lightgray;
}
